@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
body {
    background: rgb(21, 195, 154);
    width: 200px;
    height: 500px;
}
h1, h2, h3, p {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}
a {
    color: white;
}
/* Switch CSS */
.switch {position: relative;display: inline-block;width: 40px;height: 20px;}
.switch input {opacity: 0;width: 0;height: 0;}
.slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #ccc;-webkit-transition: .4s;transition: .4s;}
.slider:before {position: absolute;content: "";height: 15px;width: 15px;left: 2px;bottom: 2px;background-color: white;-webkit-transition: .4s;transition: .4s;}
input:checked + .slider {background-color: #2196F3;}
input:focus + .slider {box-shadow: 0 0 1px #2196F3;}
input:checked + .slider:before {-webkit-transform: translateX(20px);-ms-transform: translateX(20px);transform: translateX(20px);}
.slider.round {border-radius: 34px;}
.slider.round:before {border-radius: 50%;}
/* Dead Switch CSS */
.deadSlider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #dc6d6d;}
.deadSlider:before {position: absolute;content: "";height: 15px;width: 15px;left: 2px;bottom: 2px;background-color: #ffffff;}
input:checked + .deadSlider {background-color: #dc6d6d;}
input:focus + .deadSlider {box-shadow: 0 0 1px #dc6d6d;}
.deadSlider.round {border-radius: 34px;}
.deadSlider.round:before {border-radius: 50%;}